<header>
        <nav id="nav">
            <h1 id="title"><a href="https://mustafafaf.github.io/mfwebsite/">Mustafa Farooqi's Blog</a></h1>
            <ul id="menulinks">
                <li style="margin-left: 0px"><a href="https://www.instagram.com/_mustafa._.farooqi_/">Instagram</a></li>
                <li><a href="https://github.com/mustafafaf">Github</a></li>
                <li><a href="https://www.linkedin.com/in/mustafa-farooqi-4a89291a2">LinkedIn</a></li>
            </ul>
        </nav>
</header>
